<section class="nisha">
  <div class="nisha__content _container">
    <h2 class="nisha__title title">
      Название ниши
    </h2>
    <div class="nisha__subtitle title">
      Категория
    </div>
  </div>

  <div class="nisha__card-wrap">
    <div class="nisha__card">
      <div class="nisha__illustration">
        <img src="assets/images/illustration.png" alt="">
      </div>
      <div class="nisha__card-info">
        <h4 class="nisha__card-title"> Название кейса </h4>
        <p class="nisha__card-text">Краткое описание краткое описание краткое описание </p>
      </div>
    </div>
    <div class="nisha__card">
      <div class="nisha__illustration">
        <img src="assets/images/illustration.png" alt="">
      </div>
      <div class="nisha__card-info">
        <h4 class="nisha__card-title"> Название кейса </h4>
        <p class="nisha__card-text">Краткое описание краткое описание краткое описание </p>
      </div>
    </div>
    <div class="nisha__card">
      <div class="nisha__illustration">
        <img src="assets/images/illustration.png" alt="">
      </div>
      <div class="nisha__card-info">
        <h4 class="nisha__card-title"> Название кейса </h4>
        <p class="nisha__card-text">Краткое описание краткое описание краткое описание </p>
      </div>
    </div>
  </div>
</section>
